{% extends "base.html.twig" %}

{% block body %}

    <section id="showcase" class="d-flex justify-content-center align-items-center" style="height: 50vh;">
        <div id="overlay" style="height: 50vh;"></div>

        <div id="header" class="container text-white text-center">
            <h1 class="display-3">Reinitialisation mot de passe</h1>
            <p class="lead d-none d-md-block py-5">Veuillez reinseigner votre nouveau mot de passe et cliker « Envoyer »
                lorsque vous avez terminé.</p>
        </div>
    </section>

    {% include 'User/messages.html.twig' %}

    <section class="p-5" style="height: 35vh;">

        <div class="container text-white text-center py-5">
            <form action="index.php?action=resetPassword" method="POST" id="formPassword">
                <div class="input-group justify-content-center">
                    <div class="col-md-5">

                        {# token for session csrf #}
                        <input type="hidden" name="token" value="{{ get_token() }}">

                        {# token for password reset #}
                        <input type="hidden" name="tokenPass" value="{{ token }}">
                        <input type="hidden" name="emailReset" value="{{ email }}">

                        <div class="form-group">
                            <input type="password" id="inputPassword" name="password" class="form-control"
                                   placeholder="Mot de passe *">
                        </div>

                    </div>

                    <div class="col-md-5 d-flex justify-content-center align-items-center">
                        <div class="form-group">
                            <input type="submit" name="register" class="btn btn-primary" value="Envoyer"/>
                        </div>

                    </div>
                </div>
            </form>

        </div>
        <p class="text-center text-black-50">Déja un compte? <a href="index.php?action=login">Sign in</a></p>

    </section>

{% endblock %}