<!DOCTYPE html>
<html lang="fr">
<head>
    {% block head %}
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
              integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
              crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,500,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css"/>
        <title>Beniamin Tolan Blog</title>
    {% endblock %}
    {% block stylesheets %}{% endblock %}
</head>

<body>
{{ comment_message }}




{% block navigation %}
    <nav class="navbar navbar-expand-md navbar-dark">
        <a href="index.php?action=home" class="navbar-brand">
            <h3 class="mb-y">Beniamin Tolan</h3>
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="index.php?action=home" class="nav-link">Accueil</a>
                </li>
                <li class="nav-item">
                    <a href="index.php?action=posts" class="nav-link">Blog</a>
                </li>
                <li class="nav-item">
                    <a href="index.php?action=contact" class="nav-link">Contact</a>
                </li>
                {% if current_user %}
                    {% if current_user.role == "admin" %}
                        <li class="nav-item">
                            <a href="index.php?action=admin" class="nav-link">Administration</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="index.php?action=profile" class="nav-link">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="index.php?action=logout" class="nav-link"><i
                                    class="fas fa-sign-out-alt"></i> Deconnexion</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="index.php?action=login" class="nav-link">Connexion</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </nav>
{% endblock %}


{% block showcase %}
{% endblock %}

{% block messages %}
    {% include 'messages.html.twig' %}
{% endblock %}

{% block body %}

{% endblock %}

<footer>
    {% block footer %}
        <section id="footer" class="bg-secondary p-3" style="height: 15vh;">
            <div class="container-fluid">
                <ul class="nav text-center justify-content-center flex-column flex-sm-row">
                    <li class="nav-item text-white">
                        <a href="index.php?action=home" class="nav-link">ACCUEIL</a>
                    </li>
                    <li class="nav-item text-white">
                        <a href="index.php?action=chapters" class="nav-link">BLOG</a>
                    </li>
                    <li class="nav-item text-white">
                        <a href="index.php?action=contact" class="nav-link">CONTACT</a>
                    </li>
                </ul>
                <ul class="nav text-center justify-content-center py-2">
                    <li class="text-primary">
                        <a href="https://www.tolan.me"><h6>©2019 BenjiCodeur</h6></a>
                    </li>
                </ul>
            </div>
        </section>
    {% endblock %}
</footer>
{% block javascripts %}

    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/hideShowPassword.js"></script>
    <script>
        $(document).ready(function () {
            $('#inputPassword').hideShowPassword({
                show: false,
                innerToggle: 'focus'
            })
        });
    </script>

{% endblock %}
</body>
</html>