{% extends "base.html.twig" %}

{% block title %}
    <title>
        {{ title }}
    </title>
{% endblock %}

{% block showcase %}
    <section id="showcase" class="d-flex justify-content-center align-items-center">
        <div id="overlay"></div>
        <div id="header" class="container text-white">
            <h3 class="display-3 mb-5 d-none d-md-block">Bonjour, je suis Beniamin TOLAN</h3>
            <h1 class="display-5 py-5">Developpeur d'application</h1>

        </div>
    </section>
{% endblock %}



{% block body %}
    <section id="about">
        <div class="container">
            <div class="section-title text-center center">
                <h2>About Me</h2>
                <hr>
            </div>
            <div class="row">
                <div class="col-md-12 text-center"><img src="images/about.jpg" class="img-responsive"></div>
                <div class="col-md-12">
                    <div class="text-center about-text">

                        <p>"The command line is the ultimate seat of power on your computer."</p>
                        <p class="text-center"><a class="btn btn-primary" href="cv/BeniaminTOLAN1Mb.pdf" target='_blank'><i class="fa fa-download"></i> Télécharger CV</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <div class="container text-center mt-5">
            <h2 class="text-uppercase">Retrouvez les derniers articles parus sur mon blog.</h2>
            <div class="row">
                {% for post in posts|slice(0,3) %}
                    <div class="col-md-4 p-3">
                        <img src="images/icons/nature.png" alt="" class="img-fluid">
                        <h3><a href="index.php?action=showChapter&id={{ post.id }}">{{ post.title|raw }}</a></h3>
                        <p class="lead d-none d-sm-inline"> {{ post.content|slice(0,500)|raw }}... </p>
                    </div>
                {% endfor %}

            </div>
        </div>

    </section>
    <hr>
    <section>
        <div class="container text-center my-5">
            <h3 class="text-uppercase">Projets</h3>
            <h5 class="text-primary">#beniamintolan</h5>
            <div class="row mt-4">
                <div class="col-6 col-lg-3 mb-4">
                    <a href="https://tolan.me/">
                    <img class="img-fluid" src="images/logos/logo.png" alt="social1">
                    </a>
                </div>
                <div class="col-6 col-lg-3 mb-4">
                    <img class="img-fluid" src="/images/gallery/social2.png" alt="social2">
                </div>
                <div class="col-6 col-lg-3 mb-4">
                    <img class="img-fluid" src="/images/gallery/social3.png" alt="social3">
                </div>
                <div class="col-6 col-lg-3 mb-4">
                    <img class="img-fluid" src="/images/gallery/social4.png" alt="social4">
                </div>
                <div class="col-6 col-lg-3 mb-4">
                    <img class="img-fluid" src="/images/gallery/social5.png" alt="social5">
                </div>
                <div class="col-6 col-lg-3 mb-4">
                    <img class="img-fluid" src="/images/gallery/social6.png" alt="social6">
                </div>
                <div class="col-6 col-lg-3 mb-4">
                    <img class="img-fluid" src="/images/gallery/social7.png" alt="social7">
                </div>
                <div class="col-6 col-lg-3 mb-4">
                    <img class="img-fluid" src="/images/gallery/social8.png" alt="social8">
                </div>
            </div>
        </div>
    </section>

{% endblock %}

