{% extends "base.html.twig" %}

{% block body %}
    {{ message_contact }}
    <section id="showcase" class="d-flex justify-content-center align-items-center" style="height: 50vh;">
        <div id="overlay" style="height: 50vh;"></div>
        <div id="header" class="container text-white text-center">
            <h1 class="display-3">MDP</h1>
            <p class="lead d-none d-md-block py-5">Veuillez remplir chacune des sections et cliquer sur « Envoyer » lorsque vous avez terminé.</p>
        </div>
    </section>
    <section class="container-fluid" style="height: 35vh;">
        <div class="container text-white text-center pt-5">
            <form action="index.php?action=requestReset" name="requestReset" method="post">
                <div class="input-group justify-content-center">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="email" class="form-control" placeholder="votremail@exemple.com"
                                   value=""/>
                        </div>
                    </div>

                    <div class="col-md-3 d-flex justify-content-center align-items-center">
                        <div class="form-group">
                            <input type="submit" name="btnSubmit" class="btn btn-primary" value="Envoyer"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>


{% endblock %}