<section>
    {% if errors is defined and errors|length > 0 %}
        <div class="h3 alert alert-warning text-center alert-dismissible fade show">

            {% for error in errors %}
                {% for err in error %}
                    {{ err }} <br>
                {% endfor %}
            {% endfor %}

            <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

        </div>
    {% endif %}

    je suis la
{{ dump(success) }}
    {% if success is not null  %}
        <div class="h3 alert alert-success text-center alert-dismissible fade show">


                    {{ success }}


            <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

        </div>
    {% endif %}
</section>