{% extends "base.html.twig" %}

{% block body %}
    {{ message_contact }}
    <section id="showcase" class="d-flex justify-content-center align-items-center" style="height: 40vh;">
        <div id="overlay" style="height: 40vh;"></div>
        <div id="header" class="container text-white text-center">
            <h1 class="display-3">Création de compte</h1>
            <p class="lead d-none d-md-block py-5">Veuillez remplir chacune des sections et cliquer sur « Envoyer »
                lorsque vous avez terminé.</p>
        </div>
    </section>
    <section class="p-5">
        {{ get_token() }}
        {{ user_message }}
        <div class="container text-white text-center py-5">
            <form action="index.php?action=registerUser2" method="POST">
                <div class="input-group justify-content-center">
                    <div class="col-md-5">

                        <input type="hidden" name="token" value="{{ token }}">
                        <div class="form-group">
                            <input type="text" name="txtLastName" class="form-control" placeholder="Nom *" required
                                   value=""/>
                        </div>
                        <div class="form-group">
                            <input type="text" name="txtFirstName" class="form-control" placeholder="Prenom *" required
                                   value=""/>
                        </div>
                        <div class="form-group">
                            <input type="email" name="txtEmail" class="form-control" placeholder="Email *" required
                                   value=""/>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" placeholder="Mot de passe *"
                                   required>
                        </div>
                    </div>

                    <div class="col-md-5 d-flex justify-content-center align-items-center">
                        <div class="form-group">
                            <input type="submit" name="register" class="btn btn-primary" value="Envoyer"/>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <p class="text-center text-black-50">Déja un compte? <a  href="index.php?action=adminLogin">Sign in</a> </p>


    </section>


{% endblock %}