{% extends "base.html.twig" %}

{% block body %}
    {{ message_contact }}
    <section id="showcase" class="d-flex justify-content-center align-items-center" style="height: 50vh;">
        <div id="overlay" style="height: 50vh;"></div>
        <div id="header" class="container text-white text-center">
            <h1 class="display-3">Mot De Passe</h1>
            <p class="lead d-none d-md-block py-5">Réinitialisation avec succés</p>
        </div>
    </section>
    <section class="container-fluid" style="height: 35vh;">
        <div class="container text-center pt-5">
           <h1>Votre demande a été acceptée</h1>
            <h2>Veuillez vérifier votre mail!</h2>
        </div>
    </section>


{% endblock %}